In [2]:
import pandas as pd
df = pd.read_csv('/Users/zhangshengwang/Downloads/weekly_logins.csv')

In [3]:
# Since there are so many categories and groups that can be discussed, I will only analyze a few of them:
# Industry/Company Size/Territory

# The reason why I chose these three categories is that I believe these three groups are most representative to 
# companies and are good at separating the companies in order for the analysis.

# Industry

In [10]:
df[['Weekly Logins','Industry']].groupby(['Industry']).mean().apply(lambda x: x.sort_values(ascending=False).head(5))

                       Weekly Logins
Industry
Finance                     6.532847
Professional Services       6.523810
Hospitality                 6.517007
Legal Services              6.275510
Consumer Products           6.141414

# Company Size

In [13]:
df[['Weekly Logins','Company Size']].groupby(['Company Size']).mean()\
.apply(lambda x: x.sort_values(ascending=False).head(5))

               Weekly Logins
Company Size
$500M - $1B         6.401639
<$100M              6.308333
$1B - $10B          6.297468
$100M - $500M       6.023810
>$10B               5.596429

# Territory

In [15]:
df[['Weekly Logins','Territory']].groupby(['Territory']).mean()\
.apply(lambda x: x.sort_values(ascending=False).head())

           Weekly Logins
Territory
East            6.430446
Midwest         6.021154
West            5.924113

# All together

In [16]:
df[['Weekly Logins','Industry','Company Size','Territory']].groupby(['Industry','Company Size','Territory']).mean()\
.apply(lambda x: x.sort_values(ascending=False).head())

                                               Weekly Logins
Industry              Company Size  Territory
Legal Services        <$100M        East            8.000000
Manufacturing         <$100M        Midwest         6.733333
Finance               $100M - $500M East            6.532847
Professional Services $500M - $1B   East            6.523810
Hospitality           <$100M        Midwest         6.517007

In [ ]:
# To sum up, I proceeded with GroupBy method in Pandas dataframe to compare the weekly logins among different industries,
# Company Size, and Territory. I consider the engagement level as the average of weekly logins.

# for different industries, Finance has the highest engagement level of 6.532.

# For company size, the companies with 500M - 1B size have the highest engagement level of 6.4

# For Territory, the companies located in the East have the highest engagement level of 6.43

# When I put all three categories together and ran the analysis again, I got the highest engagement level combinations
# : Legal Services companies with less than 100M size located in the East. The level is pretty high at 8.

# Here are my thoughts on the above results. Obvisouly, the Finance industry should have the highest engagement level
# because the Finance companies have higher demand on banking and financial services. For company size, actually 
# there is no big differences between the top 3 company sizes. So, we may need more data to perceive a relation
# or trend between engagement level and company size. Speaking of the territory, we can understand that companies 
# located in the east will have higher engagement levels becuase there are more finiancial related companies at 
# the east coast than elsewhere in the US.